.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (width < 800px) {
    
    height: 300vh;
  }
}
.mainapp {
  display: flex;
  flex-direction: column;

  width: 76%;
  height: 87%;
  @media (width < 800px) {
    width: 90%;
    height: 99%;
  }
}

.display{
  width: 100%;
  height: 100%;
  z-index: 20;
  position: absolute;
  
  background: rgba(0, 0, 0, 0.603);
}
